.albums {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
  height: calc(100vh - 17.5rem);
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 2rem;
  & li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($secondary-color, $alpha: 0.1);
    height: 25rem;
    & h2 {
      font-size: 2rem;
      text-align: center;
    }
    & .artist {
      font-size: 1.7rem;
    }
    & .year {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }
}
